/* created a section with a class of .grid-container, in order to give it a display of grid. */
/* Realised the readme asked for flexbox grid not display grid.Corrected the issue. */
/*.grid-container {
    width: 100%;
    display: grid;
    gap: 10px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 45% 45%;
    grid-template-rows: 400px 400px;
    grid-template-areas: 
    "ai  calculator"
    "contact  login"
    ;
    }*/




nav {
    background-color: aquamarine;
   }
main {
    background-color: brown;
}
footer {
    background-color: cornflowerblue;
   
}
