/* created a section with a class of .grid-container, in order to give it a display of grid. */
/* Realised the readme asked for flexbox grid not display grid.Corrected the issue. */
/*.grid-container {
    width: 100%;
    display: grid;
    gap: 10px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 45% 45%;
    grid-template-rows: 400px 400px;
    grid-template-areas: 
    "ai  calculator"
    "contact  login"
    ;
    } */
.row {
  justify-content: space-around;
  align-items: center;
  row-gap: 10px;
}
header {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0%;
}
.resize {
  width: 10rem;
  position: absolute;
}
.logo {
  display: inline-block;
  top: 100px;
  margin-left: 20px;
}
.resize-banner {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: 3px;
}
.purple:hover {
  background-color: rgb(145, 91, 196);
}
ul > li:hover {
    text-decoration: underline double;
    background-color: rgb(30, 107, 30);
}
ul {
  display: flex;
  justify-content: space-around;
}
ul a {
  text-decoration: none;
}
ul li {
  list-style: none;
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
}
.box-shadow:hover {
  box-shadow: 3px 3px rgb(52, 52, 239);
}
.card {
  margin: 5px;
  padding: 10px;
  border: 3px solid rgb(52, 52, 239);
  width: 40%;
}
#work:hover {
  background-color: rgb(139, 221, 221);
}
#work {
  padding: 15px;
  margin-bottom: 20px;
}
h1,
h2,
h3 {
  text-align: center;
}
.row h3 {
  padding: 3px;
  margin: 3px;
}
h2 {
  padding: 2px;
}
.skills {
  height: 150px;
  margin-top: 10px;
  margin-bottom:10px;
}
.skills h2 {
  margin-bottom:10px;
  margin-top:10px;
  padding-top: 20px;
}
.personal {
  height: 410px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  #about {
  border: 3px solid rgb(52, 52, 239);
  border-radius: 5px;
  padding: 10px;
  height: 400px;
  max-width: 300px;
  text-align:center;
}

label {
  font-weight: bold;
  display: block;
  margin: 2px;
}
input,
textarea {
  margin: 1px;
}

button {
  display: inline-block;
  margin: 2px;
  position: absolute;
  left: 50px;
  border-radius: 5px;
  bottom: 30px;
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
form {
  position: relative;
  background-color: rgb(119, 176, 66);
  padding: 5px;
  margin: 10px;
  height: 400px;
  width: 500px;
  border-radius: 5px;
}
/*.contact > h2 {
  margin: 1px 0;
  display: block;
} */
input,
textarea {
  border-radius: 5px;
  display: inline-block;
}
span {
  font-weight: bolder;
}
.row p {
  text-align: center;
}
footer {
  margin: 50px 0;
  padding: 20px;
  background-color: grey;
  height: 150px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 95%;
  margin: 0 auto;
}
footer h2 {
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 5px;
}
.gradient {
    background-image: linear-gradient(to left, rgb(76, 162, 248), rgba(91, 160, 209, 0));
}
.jumbotron:hover {
   background-image: linear-gradient(to left, rgb(180, 93, 177), rgba(156, 102, 165, 0));
}
p {
    padding: 5px;
    margin: 3px;
}
.about p {
  padding-top: 15px;
  padding-bottom: 10px;
  text-wrap: wrap;
}